.card-detail-badge {
  background: #f2d900;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}

.card-image-overlay {
  font-size: 20px;
}

.card-image-overlay span {
  display: inline-block;
}

.TeasersList__headline {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 400;
  color: #383838;
  font-family: "TeleGroteskScreen-b4r", "TeleGroteskScreen-Thin", Arial, sans-serif;
  font-weight: 100;
  margin: 45px 0 12px;
  text-align: center;
}

/*! CSS Used from: Embedded */

.TeaserView__wrapper {
  position: relative;
  width: 253px;
  margin: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  text-align: center;
  padding: 36px 12px 32px;
  color: #383838;
  transition: background-color 300ms;
}

.TeaserView__wrapper:hover {
  background-color: #f7f7f7;
}

.TeaserView__wrapperSecond {
  display: block;
  text-align: center;
  color: inherit;
}

.TeaserView__image {
  display: inline!important;
  height: 93px;
  width: auto;
}

.TeaserView__title {
  font-family: "TeleGroteskScreen-b4r", "TeleGroteskScreen-Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #383838;
  margin: 22px 0 6px;
}

.TeaserView__description {
  margin: 6px 0 0 0;
  font-size: 18px;
  line-height: 24px;
}

.TeaserView__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/*! CSS Used from: Embedded */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: border-box;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
}

.slick-slide img {
  display: block;
}

/*! CSS Used fontfaces */

/*! CSS Used from: http://localhost:3000/app.css */

.phx-u-space--bottom_5 {
  margin-bottom: 60px;
}

.phx-u-space--bottom_5 {
  margin-bottom: 60px;
}

.phx-col-l-12, .phx-col-m-12, .phx-col-s-12, .phx-col-xs-12 {
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
}

.phx-col-l-12 {
  width: 100.00001%;
}

@media screen and (max-width: 1023px) {
  .phx-col-m-12 {
    width: 100.00001%;
  }
}

@media screen and (max-width: 639px) {
  .phx-col-s-12 {
    width: 100.00001%;
  }
}

@media screen and (max-width: 479px) {
  .phx-col-xs-12 {
    width: 100.00001%;
  }
}

.Collapsible {
  padding: 20px;
  border-bottom: 1px solid #d0d0d0;
}

.Collapsible__contentInner {
  padding: 10px 0;
  font-family: "TeleGroteskScreen";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #383838;
}

.Collapsible__trigger {
  display: block;
  position: relative;
  border: 1px solid white;
  font-family: "TeleGroteskScreen";
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #383838;
}

/* .Collapsible__trigger:after {
  font-family: "typeicons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;
  content: "0xe007";
} */

@media (max-width: 46.24em) {
  .Collapsible__trigger:after {
    font-size: 16px;
  }
}

@media (max-width: 39.99em) {
  .Collapsible__trigger:after {
    font-size: 16px;
  }
}

.Collapsible__trigger:hover {
  cursor: pointer;
}

.Collapsible__trigger:after {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
  font-size: 30px;
}

.phx-list--personal-data {
  list-style: none;
}

.phx-list--personal-data__header {
  display: block;
  font-family: "TeleGroteskScreen";
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #383838;
}

.phx-list--personal-data__description {
  display: block;
  margin: 5px 0 5px;
  font-family: "TeleGroteskScreen";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #383838;
}

/*! CSS Used fontfaces */

/*! CSS Used from: http://localhost:3000/app.css */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.phx-t1 {
  font-family: "TeleGroteskScreen";
  font-size: 48px;
  line-height: 54px;
  font-weight: 400;
  color: #383838;
  margin: 0;
  padding: 0;
}

.phx-u-text-center {
  text-align: center;
}

/*! CSS Used fontfaces */

/*! CSS Used from: http://localhost:3000/app.css */

.phx-t2 {
  font-family: "TeleGroteskScreen";
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  color: #383838;
  margin: 0;
  padding: 0;
}

/*! CSS Used fontfaces */

/*****************globals*************/

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px;
  }
}

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block;
}

.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
}

.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

/* .card {
  margin: 25px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
} */

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold;
}

.checked, .price span {
  color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px;
}

.product-title {
  margin-top: 0;
}

.size {
  margin-right: 10px;
}

.size:first-of-type {
  margin-left: 40px;
}

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px;
}

.color:first-of-type {
  margin-left: 20px;
}

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff;
}

.not-available {
  text-align: center;
  line-height: 2em;
}

.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff;
}

.orange {
  background: #ff9f1a;
}

.green {
  background: #85ad00;
}

.blue {
  background: #0076ad;
}

.tooltip-inner {
  padding: 1.3em;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 0; 
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.TeaserList_flex, .card-deck {
  display: flex;
  flex-wrap: wrap;
}

.collapsible_icon {
  position:absolute;
  right:0;
  transition: transform 200ms ease-in;
}

.is-open .collapsible_icon {
  transform: rotate(180deg)
  
}

.card-deck .card {
  max-width: 356px;
  width: 356px;
  flex: 356px;
  margin: 12px;
}

.card-img-top {
  max-height: 140px;
  
}

.add-new-car {
  display:flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.add-new-car__label {
  margin: 0 20px 0 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.add-car-card {
  min-width: 600px;
  padding: 25px;

}

.add-car-card__header-container {
  display:flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.add-car-card__header {
  margin-right: 20px;
}

.card-modal .card {
  padding: 3rem;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding-bottom: 30px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


/*# sourceMappingURL=style.css.map */